<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Mes Contacts</a>
    </div>
  </nav>
</header>
<div class="row">
  <div class="col-sm-4">
    <div *ngIf="Contacts.length">
      <ul class="list-group">
          <li class="list-group-item"
            *ngFor="let contact of Contacts"
            (click)="choisirUnContact(contact)"
            [class.active]="contact === contactActif">
              {{ getNomComplet(contact) }}
          </li>
      </ul>
    </div>
  </div>
    <div class="col-sm-8">
      <div *ngIf="contactActif" class="jumbotron">
        <h2 >{{ getNomComplet(contactActif) }}
        <small>{{ contactActif.email }}</small></h2>
        <input type="text" class="form-control" placeholder="saissez votre prénom" [(ngModel)]="contactActif.prenom"/> <br />
        <input type="text" class="form-control" placeholder="saissez votre nom" [(ngModel)]="contactActif.nom"/>
      </div>
    </div>
</div>