<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Mes Contacts</a>
    </div>
  </nav>
</header>
<div class="row">
  <div class="col-sm-4">
    <div *ngIf="Contacts.length">
      <ul class="list-group">
          <li class="list-group-item"
            *ngFor="let contact of Contacts"
            (click)="choisirUnContact(contact)"
            [class.active]="contact === contactActif">
              {{ getNomComplet(contact) }}
          </li>
      </ul>
    </div>

    <!-- Formulaire ajout de contact -->
    
         <app-ajout-contact
         (unContactEstCree)="ajouterContactDansListe($event)"></app-ajout-contact>
    

  </div>
    <div class="col-sm-8">
        <app-profil-contact [contact]="contactActif"></app-profil-contact>
    </div>
</div>

<footer class="text-center">
  &copy; Corpyright 2018 - PARIS XIV
</footer>